/scr/test/test.py
/apps/workPath.py
/etc/workPath.py
/etc/aliases.sh
/scr/forcemodel/workPath.py
/scr/inputfilecreator/workPath.py
/scr/Meshcreater/workPath.py
/apps/workPath.py
/etc/aliases.sh
/etc/workPath.py
/scr/inputfilecreator/workPath.py
/apps/workPath.py
/etc/
